@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

*, *::after, *::before {
	margin: 0;
	box-sizing: border-box;
}

a:focus {
	outline: 2px solid #fff !important;
	border-radius: 8px;
}

html {
	scroll-behavior: smooth;
}

html, lite-youtube.lyt-activated, .ytp-autohide, video {
}

a, lite-youtube, lite-youtube > .lty-playbtn {
}

body {
	background-color: #1e181c;
	margin: 0;
	font-family: 'Paperlogy-8ExtraBold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: calc(1rem + 0.25vw);
	line-height: 1.5;
	color: #fbf9da;
}

a {
	color: inherit;
}

::selection {
	background-color: #fcdfb0;
	color: #411733;
}
