@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-2ExtraLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

*, *::after, *::before {
	margin: 0;
	box-sizing: border-box;
}

a:focus {
	outline: 2px solid #fff !important;
	border-radius: 8px;
}

html {
	scroll-behavior: smooth;
}

html, lite-youtube.lyt-activated, .ytp-autohide, video {
}

a, lite-youtube, lite-youtube > .lty-playbtn {
}

body {
	background-color: #282828;
	margin: 0;
	font-family: 'Paperlogy-4Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: calc(1rem + 0.25vw);
	line-height: 1.5;
	color: #ffffff;
}

a {
	color: inherit;
}

p h2 {
  font-family: 'Paperlogy-6SemiBold', serif;
}

::selection {
	background-color: #fcdfb0;
	color: #411733;
}
