<a href="https://store.steampowered.com/app/2544740/THANKS_LIGHT/"> <!-- 여기에 나중에 EpicGames 링크 생기면 바꾸면 됨 -->
	<img src="/img/epic-logo.png" alt="" role="presentation" width="34" height="34" />
	<span>Epic Games</span>
</a>

<style>
	a {
		padding: 0.75em 1.5em 0.75em 1.2em;
		background: linear-gradient(to right, #6e6e6e 5%, #565555 95%);
		color: #fff;
		text-decoration: none;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
		border-radius: 4px;
		display: flex;
		align-items: center;
		width: fit-content;
		margin: auto;
		font-size: 1.1em;
		justify-content: space-between;
		text-transform: uppercase;
	}

	a:hover,
	a:focus {
		background: linear-gradient(to right, #999999 5%, #666666 95%);
		box-shadow: 0 0 16px 0 #cdcdcd;
	}

	img {
		height: 1.25em;
		margin-right: 0.75em;
		width: auto;
	}

	@media screen and (max-width: 500px) {
		a {
			width: 100%;
		}
	}
</style>
