---
import Awards from '../components/Awards.astro';
import YouTube from '../components/YouTube.astro';
import Screenshot from '../components/Screenshot.astro';
import SteamButton from '../components/SteamButton.astro';
import SocialMediaButton from '../components/SocialMediaButton.astro';
---
<main>
	<p style="text-align: center;">
		<img src="/img/trailer_img.webp" alt="" class="center" width="1920" height="780" />
	</p>
	<div id="content">
		<p class="hero">
			THIS IS <strong>NOT</strong> A HEXAGON.
		</p>
		<p style="text-align: center;">
			<img src="/img/black_notahex.webp" alt="" class="center" />
		</p>
		<p class="hero">
			Shine the light to reveal its true form.
		</p>
		<p style="text-align: center;">
			<img src="/img/ItWasntAHexagon.gif" alt="" class="center" />
		</p>
		<h2><span style="font-family: 'Paperlogy-6SemiBold', serif;">Trailer</span></h2>
		<YouTube id="BbaYeA66mMM" alt="Play video: ThanksLight trailer" />
		<SteamButton />
		<h2><span style="font-family: 'Paperlogy-6SemiBold', serif;">About</span></h2>
		<p>
			"THANKS, LIGHT." is a puzzle platformer game where you shine or absorb light to transform objects between 2D and 3D states. Don't judge objects by their silhouettes. Shine light to reveal the true form of the objects. Tinker with our puzzles, and uncover the mystery!
		</p>
		<ul class="socials">
			<li><SocialMediaButton text="Reddit" linkUrl="https://www.reddit.com/user/THANKLIGHT/" iconUrl="/img/reddit-logo.png" /></li>
			<li><SocialMediaButton text="X / Twitter" linkUrl="https://x.com/TeamLightersTL/" iconUrl="/img/x-logo.png" /></li>
			<li><SocialMediaButton text="Youtube" linkUrl="https://www.youtube.com/@TeamLighters-e2s/" iconUrl="/img/youtube-logo.png" /></li>
			<li><SocialMediaButton text="Press Kit" linkUrl="https://drive.google.com/drive/u/0/folders/1n39FotFqB-3vY08dP57ZI-pf5lJ0aFia/" iconUrl="/img/press_kit_icon.png" /></li>
		</ul>
		<h2><span style="font-family: 'Paperlogy-6SemiBold', serif;">The Team</span></h2>
		<p>
			We are a team of four passionate game developers in Seongnam, South Korea. THANKS LIGHT. was originally a graduation project in the Game Institute of Korea, under KOCCA. With positive feedback, we continued development afterwards and are actively moving forward. Stay tuned!
		</p>
		<ul class="team">
			<li><small>Huibeom Jung</small></li>
			<li><small>Seohyeon Lee</small></li>
			<li><small>Jeongtae Go</small></li>
			<li><small>Taewook Koh</small></li>
		</ul>
		<h2><span style="font-family: 'Paperlogy-6SemiBold', serif;">Screenshots</span></h2>
		<div class="screenshots">
			<Screenshot id={2} />
			<Screenshot id={3} />
			<Screenshot id={4} />
			<Screenshot id={5} />
		</div>
		<SteamButton />
	</div>
</main>

<style>
	p {
		margin: auto;
		margin-bottom: 1.5em;
		text-align: left;
	}

	h2 {
		text-transform: uppercase;
		margin-top: 2em;
		margin-bottom: 0.25em;
		font-weight: 300;
		font-size: 1.25em;
		letter-spacing: 3px;
		text-align: center;
	}

	main {
		background-color: #242424;
		position: relative;
		max-width: 1920px;
		margin: auto;
		padding-bottom: 4em;
	}

	.background0 {
		margin-top: -100%;
		width: 100%;
		padding-bottom: calc(2ch - 4px);
		user-select: none;
		pointer-events: none;
		height: 100%;
	}

	.hero {
		margin-top: 1rem;
		text-align: center;
	}

	.hero strong {
		font-size: 1.2em;
	}

	#content {
		max-width: 80ch;
		margin: 0 auto;
		padding: 2ch;
		padding-top: 0;
	}

	ul.team {
		display: flex;
		padding: 0;
		list-style: none;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em 2em;
	}

	ul.team li {
	}

	.socials {
		text-align: left;
		padding: 0;
		list-style-type: none;
		display: flex;
		justify-content: center;
		gap: 1em;
		flex-wrap: wrap;
	}

	@media screen and (max-width: 500px) {
		.socials li {
			width: 100%;
		}
	}

	.screenshots {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		margin: 1em auto 3em auto;
		justify-content: center;
	}
</style>
